<div id="wrapper"> 
	<div id="page-wrapper">

	    <div class="container-fluid">
	        <div class="row">
	            <div class="col-lg-12">
	                <h1 class="page-header">
	                		<p><%= image_tag @profile.image.url(:medium) %></p>
											<h1><%= @profile.name %></h1>
											<p> <%= @profile.bio %></p>
	                </h1>

										<%= link_to("Back", profiles_path(@profile.id)) %>
										<%= link_to("Edit", edit_profile_path(@profile.id)) %>
										<%= link_to("Delete", profile_path(@profile.id), method: :delete) %>

	              <!--   <ol class="breadcrumb">
	                    <li>
	                        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
	                    </li>
	                    <li class="active">
	                        <i class="fa fa-file"></i> Blank Page
	                    </li>
	                </ol> -->
	            </div>
	        </div>
	    </div>
	</div>
</div>
