<section class="events_background">
	<section class="container">
	<div id="wrapper">

			<h1 class="silver_text">New Event</h1>

			<%= form_for @event, html: {multipart: true} do |f| %>
				<h4 class="silver_text">Image:</h4>
				<p class="grey_text"><%= f.file_field(:image)%></p>
				<br/>
				<h4 class="silver_text">Event:</h4>
				<p class="grey_text"><%= f.text_field(:event_name)%></p>
				<br/>
				<h4 class="silver_text">Date:</h4>
				<p class="grey_text"><%= f.date_select(:event_date)%></p>
				<br/>
				<h4 class="silver_text">Time:</h4>
				<p class="grey_text"><%= f.text_field(:start_time)%></p>
				</br>
				<h4 class="silver_text">Description:</h4>
				<p class="grey_text"><%= f.text_area(:event_desc)%></p>
				<br/>

				<a><%= f.submit("Submit")%></a>
			<%end%>
		</div>

	</section>
</section>