<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt|Droid+Sans+Mono|Shadows+Into+Light|Architects+Daughter|Gloria+Hallelujah|Amatic+SC|Roboto|Cabin|Abel|Anton|Wire+One' rel='stylesheet' type='text/css'>

<section class="events_background">
	<section class="container">
		<div id="wrapper">
			<div class="row">
				<h1 class="permanent_marker"><b><%= @event.event_name %></b></h1>
					<div id="event_show_background" class="col-md-10">
					  <h2><%= image_tag @event.image.url(:medium) %></h2>
						<div class="whitesmoke">
							<h2><%= @event.event_date %> at <%= @event.start_time %></h2>
							<p><%= @event.event_desc %></p>
						</div>
					</div>
			</div>
			<div class="row">
				<a class="nav_tags"><%= link_to("Back", events_path) %></a>
				<a class="nav_tags"><%= link_to("Edit", edit_event_path(@event.id)) %></a>
				<a class="nav_tags"><%= link_to("Delete", event_path(@event.id), method: :delete) %></a>
				<a class="nav_tags"><%= link_to("Add another event", new_event_path) %></a>
			</div>
		</div>

	</section>
</section>
